<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/tableSpend/tableSpend.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Tabla de gastos</title>
</head>
<body>
    <div>
        <header>
            <h1>Historial de gastos</h1>
        </header>
        <section>
            <div class="box" id="box">
                <div class="content">
                    <h2>Nombre</h2>
                    <h2>Precio</h2>
                    <h2>Prioridad</h2>
                    <h2>Fecha</h2>
                </div>
            </div>
        </section>
    </div>

    <script src="/controller/tableSpend/tableSpend.js"></script>
</body>
</html>